
@import url(./reset.css);

:root {
  --app-dark-bg: #1a1d28;
  --app-green: #33ab4e;
  --app-purple: #833cff;
  --app-blue: #3c57ff;
  --app-blue-hover: #364ee6;
  --app-orange: #ff8001;
  --app-orange-hover: #ff2846;
  --app-grey: #bebebe;
  --app-light-white: #f1f1f1;
}

/* CONTAINER */

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

html {
  scroll-behavior: smooth;
}

body{
    background-color: var(--app-dark-bg);
}

/* HEADER */
header{
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.img-icon {
    height: 56px;
    width: 50px;
    margin: auto 0;
    cursor: pointer;
   
  }

  .img-icon img {
    border-radius: 50%;
  }

h1{
    font-size: 48px;
    text-transform: uppercase;
    color: var(--app-green);
    font-weight: 700;
    margin-bottom: 10px;
    letter-spacing: 0.2px;
    line-height: 60px;
}

nav ul {
    list-style: none;
    margin-left: 60px;
    margin-right: 10px;
    line-height: 65px;
  }

  nav ul li {
    align-content: flex-end;
    display: flex;
    display: inline;
    line-height: 60px;
  }
  
  nav ul li a {
    color: var(--app-grey);
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.4px;
    text-decoration: none;
    position: relative;
    letter-spacing: 0.2px;
    
    text-transform: uppercase;
  }
  
  nav ul li a::after {
    color: #4c66c4d2;
    content: "";
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translate(-50%);
    background: var(--app-blue-hover);
    transition: width 0.3s;
  }
  
  nav ul li a:hover::after {
    width: 50%;
  }

  nav ul li + li {
    margin-left: 20px;
  }

/* --MAIN-- */

.inputs {
    width: 700px;
    height: auto;
    margin: 30px auto 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.post-txt {
  letter-spacing: 0.5px;
  font-size: 18px;
  padding: 10px;
  background-color: transparent;
  resize: none;
  color: #fff;
}

.center2{
  display: flex;
  justify-content:space-between;
}

#post {
  text-align: center;
  height: 40px;
  width: 100px;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--app-green);
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

#post:active {
  border: 1px solid #000;
}

span {
  font-size: 16px;
  color: var(--app-grey);
}

.grid {
  min-height: 350px;
  width: 1050px;
  margin: 25px auto 0;
  border-radius: 5px;
  display: grid;
  justify-content: center;
  gap: 15px;
  grid-auto-flow: row;
}

.post {
  width: 650px;
  min-height: 110px;
  height: fit-content;
  padding: 10px;
  color: var(--app-light-white);
  background-color: var(--app-grey);
  border-radius: 5px;
}

.postHead {
  display: flex;
  justify-content: space-between;
  line-height: 40px;
  font-size: 17px;
  letter-spacing: 0.2px;
}

.postHead span{
  font-size: 22px;
  font-weight:600;
  color: var(--app-dark-bg);
}
.postHead p {
  font-size: 18px;
  
  color: var(--app-dark-bg);
}

.postHead img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  float: left;
  margin-right: 10px;
}

.postBody {
  margin: 15px 0 11px;
  color: var(--app-dark-bg);
  font-size: 20px;
  font-weight: 400;
  padding: 0 8px;
}


#postFile {
  display: none;
}

.postFile {
  padding-top: 8px;
  color: var(--app-grey);
  cursor: pointer;
}

.postFile i {
  font-size: 30px;
  margin-right: 10px;
}

.img-icon:focus .Change {
  display: block;
}

.img-icon .Change {
  display: none;
  position: relative;
  background-color: #3c3f4b;
  padding: 10px;
  min-width: 260px;
  top: 20px;
  right: 100px;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  border-radius: 5px;
}